<h3>
    Todos page
</h3>

{{#if todos.length}}
    <ul>
        {{#each todos}}
            <li class="todo">
                <form action="/complete" method="POST">
                    <label>
                        {{#if completed}}
                            <input type="checkbox" name="completed" checked>
                            <span class="completed">{{title}}</span>
                        {{else}}
                            <input type="checkbox" name="completed">
                            <span>{{title}}</span>
                        {{/if}}
                        <input type="hidden" value="{{_id}}" name="id">
                        <button type="submit" class="btn btn-small">Save</button>
                    </label>
                </form>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>Todos list is empty.</p>
{{/if}}